<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<!--/*@thymesVar id="vet" type="example.springframework.sfgpetclinic.model.Vet"*/-->
<h2 th:text="'List of Vets'">List of Vets...</h2>
<table  class="table table-striped">
<thead>
<th>ID</th>
<th>Firstname</th>
<th>Lastname</th>
</thead>
<tbody>
<tr th:each="vet:${vets}">
    <td th:text="${vet.id}">ID</td>
    <td th:text="${vet.firstname}">Firstname</td>
    <td th:text="${vet.lastname}">Lastname</td>
</tr>
</tbody>
</table>
</body>
</html>